* {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  color: black;
}

body {
  background-image: url(/recipes/photos/background-recipes.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: auto;
}

h1 {
  font-size: 4em;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: auto;
  width: 60%;
}

.recipe {
  display: block;
  width: 40%;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-top: 5px;
  border: 15px solid;
  border-image: url(https://thumbs.dreamstime.com/b/vieux-fond-en-bois-33054589.jpg) 30 / 15px / 0px stretch;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}