* {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  color: black;
  margin: 0;
}

body {
  background-image: url(/recipes/photos/background-recipes.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 2.5% 20%;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

img {
  width: 40%;
  object-fit: cover;
  float: right;
  margin-left: 20px;
  border: 15px solid;
  border-image: url(https://thumbs.dreamstime.com/b/vieux-fond-en-bois-33054589.jpg) 30 / 15px / 0px stretch;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

ul {
  list-style-position: inside;
  margin-bottom: 20px;
}

ol {
  margin-bottom: 20px;
}

a {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}

@media screen and (max-width : 1024px) {
  
  body {
    padding : 10% 10% 10% 10%;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1,5em;
  }

  img {
    width: 80%;
    margin-bottom: 40px;
  }
}